@import "../../styles/colors";
@import "../../styles/mixins";

.CategoryNav {
	@include flxRowCtr();

	justify-content: flex-start;

	.CategoryFilters {
		li {
			display: inline-block;

			a {
				color: black;
				width: 70px;
				height: 25px;
				text-align: center;
				vertical-align: middle;
				border: 1px solid $grey;
				border-radius: 4px;
				text-decoration: none;

				&.active {
					background-color: $yellow;
					color: white;
				} 
			}
		}
	}
}
