@import '../../mixins.scss';

.ResultSection {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	justify-content: center;
	justify-items: center;
	

	.BookResult {
		padding: 15px;
		border:  1px solid black;

		.BookResultView {
			background-size: cover;
			width: 100px;
			height: 100px;
		}

		@include flxColCtr();
	}
}